  * {
    font-family: 'quicksandregular';
    }
  
  .container-1 div, .container-2 div{
    padding: 10px;
    border: 1px solid black;
    /* font-family: 'Shrikhand', cursive; */
  }

  .container-1{
    display: flex;
    justify-content: space-around;
    /* align-items: flex-end; */
    /* flex-direction: column; */
  }
  
  .box-1{
    width: 15%;
    }
    /* flex: 2;  */
    /* order: 2; */
  }
  
  .box-2{
    width: 15%;
    /* flex: 1; */
    /* order: 1; */
  }
  
  .box-3{
    width: 15%;
    /* flex: 1; */
    /* order: 3; */
  }

  .container-2{
    display: flex;
    flex-wrap: wrap;
  }
  
  .container-2-box{
    flex-basis: 15%;
  }

  .icon-camera:before {
    content: "\e90f";
    color: orangered;
  }

  .icon-feed:before {
    content: "\e91d";
    color: orangered;
  }

  .icon-podcast:before {
    content: "\e91c";
    color: orangered;
  }
